node_modules
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#Other files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Secrets data to deploy your contract
secrets.json